@import url('https://fonts.googleapis.com/css2?family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,html{
    margin: 0;
    background-color: var(--background-color);
      scroll-behavior: smooth;

}
:root {
    --background-color: #FFFBF6;
    --text-color: #1D1D1D;
}
h1,h2,h3,h4,p,a,title{
    font-family: "Poppins";
    text-decoration: none;
    color: var(--text-color);
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;  
    z-index: 3;
    padding-top: 30px;

  }

  /* Logo */
  .logo {
    width: 48px;
    height: 48px;
    background: var(--text-color);
    color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: serif;
    font-size: 20px;
    margin-left: 50px;


  }

  /* Center Nav */
  .nav-center {
    background: #1d1d1dbb;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    gap: 10px;
    backdrop-filter: blur(3px);
    border: var(--background-color) 1px solid;
    margin-left: 50px;



  }

  .nav-center a {
    text-decoration: none;
    color: var(--background-color);
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 14px;
    transition: 0.3s;
  }

  .nav-center a.active{
        border: var(--background-color) 1px solid;
        background-color: var(--text-color);
  }
  .nav-center a:hover {
    background: #2a2a2a;
  }

  /* Contact Button */
  .contact-btn {
    background: var(--text-color);
    color: var(--background-color);
    padding: 15px 25px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    border: var(--background-color) 1px solid;
    margin-right: 50px;
  }


  .contact-btn:hover {
    background: var(--background-color);
    color: var(--text-color);
    border: var(--text-color) 1px solid;
  }

.burger {
    display: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 0 5px;
    justify-content: center;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 50px;
    border: var(--text-color) 1px solid;

  }


    /* Fullscreen Menu */
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #2a2a2a;
    overflow: hidden;
    transition: 0.4s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    z-index: 9;
  }

  .mobile-menu a {
    color: #fffbf6bd;
    font-size: 24px;
    text-decoration: none;
  }
  .mobile-nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
  #active-brgr{
    opacity: 100%;
    color: var(--background-color);
    font-weight: 500;
    font-size: 28px;
  }
  
  #contact-btn2{
    color: #1D1D1D;
    padding: 10px 15px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    border: var(--text-color) 1px solid;

  }

  .mobile-menu.active {
    height: 100%;
  }

  /* Close button */
  .close-btn {
    position: absolute;
    top: 40px;
    right: 45px;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }

    .sicon{
    width: 24px;
    height: 24px;
    transition: 0.3s;
    opacity: 80%;

  }
  .sicon:hover{
    opacity: 100%;
  }
.socials{
    display: flex;
    padding: 100px 0;
    justify-content: space-between;
    gap: 40px;
}
.nav-title{
    color: var(--background-color);
    font-family: "playball";
    font-size: 48px;
    margin-top: 100px;
    margin-bottom: 50px;
}


.hero{
  height: 100vh;
 width: 100%;
}
.hero-title{
    font-family: "playball";
    text-align: center;
    font-weight: 100;
    font-size: 100px;
    margin: 0;
    padding: 10vh 0 0 0;
}
.hero-subtitle{
    font-family: "poppins";
    text-align: center;
    font-size: 32px;
    margin: 0;
    font-weight: 200;
}
.hero-image{

  width: 1080px;
  height: 70vh;
  object-fit: cover;
  border-radius: 20px;
  display: block;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

}


.gradienthero{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 100px;
background: linear-gradient(180deg, rgba(255, 251, 246, 0) 0%, rgba(255, 251, 246, 1) 45%, rgba(255, 251, 246, 1) 100%);}







.abouttitle{
    font-family: "playball";
    font-size: 48px;
    font-weight: 100;
    text-align: center;
    margin-top: 100px;
}
.aboutp{
    font-family: "poppins";
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin-top: 40px;
    width: 60vw;
    margin: auto;
}



.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  padding: 50px 20px;
  flex-wrap: wrap;
}

.stat {
  text-align: center;
}



.number {
  font-size: 40px;
  font-weight: 500;
}

.divider {
  width: 1px;
  height: 60px;
  background: #aaa;
}
.photosec{
  width: 100%;
  height: 100vh;
    overflow: hidden;
  position: relative;

}

.photo1{
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-radius: 20px;
    clip-path: inset(0% 0% 0% 0%);
}

.phototitle{
    font-family: "playball";
    font-size: 75px;
    font-weight: 100;
    text-align: center;
    margin-top: 100px;
    margin: 100px 0 0 0;
}

.photop{
    font-family: "poppins";
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
    width: 60vw;
    margin: auto;
}

.photosec {
  height: 100vh;
  position: relative;
}

.photocont {
  width: 60%;
  height: 70vh;
  margin: 30px auto;
  position: relative;
}

/* STACK masks */
.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  border-radius: 20px;
}

/* Images */
.mask img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Initial states */
.mask1 {
  clip-path: inset(0% 0% 0% 0%);
  z-index: 3;
}

.mask2 {
  clip-path: inset(100% 0% 0% 0%);
  z-index: 2;
}

.mask3 {
  clip-path: inset(100% 0% 0% 0%);
  z-index: 1;
}





.cinematic-section{
  width: 100%;
  height: fit-content;

}
.content-wrapper{
  padding: 5vw 0;
}
.ctitle{
    font-family: "playball";
    font-size: 75px;
    font-weight: 100;
    text-align: center;
    margin-top: 100px;
    margin: 0 0 0 0;
}
.csubtitle{
      font-family: "poppins";
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
    width: 60vw;
    margin: auto;
}
.video-container{
 width: fit-content;
  height: fit-content;
  margin: 30px auto;
  align-items: center;

}

.video-placeholder{
  background-color: #FFFBF6;
  width: 60vw;
  height: 70vh;
  margin: 0 auto;
  border-radius: 20px;
   object-fit: cover;
}


footer{
  background: #2a2a2a;
  padding: 40px;
}
.socialsfooter{
    display: flex;
    padding: 50px 0 5px 0;
    width: fit-content;
    justify-content: space-between;
    gap: 40px;
    margin: auto;
}
.navfooter{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footerbox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50vw;
  margin: auto;
  height: fit-content;
  align-items: center;
  
}
.navfooter a, h2{
  color: var(--background-color);
}
.navfooter a{
  opacity: 0.6;
  transition: 0.3s;
}
.navfooter a:hover{
  opacity: 1;
}
.logofooter{
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  width: 64px;
  height: 64px;

}
















.hero1{
  height: fit-content;
 width: 100%;
}

.albums {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 100px;
  justify-content: space-around;
}

.album {
width: 300px;
height: fit-content;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  margin: auto;
}

.album img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
.album video {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}


.album h3 {
  padding: 10px;
  text-align: center;
}

#photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 40px;
  padding: 0 40px;
  margin-bottom: 100px;
}

#photos img {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

#photos img:hover {
  transform: scale(1.05);
}
#album-title{
  color: var(--text-color);
  text-align: center;
  font-family: "playball";
  font-size: 36px;
  font-weight: 100;
}
.backbtn img{
 border: var(--text-color) 1px solid;
 background-color: var(--background-color);
 padding: 10px;
 outline: none;
 margin: 0 0 0 20px;
 border-radius: 20px;
 font-size: 16px;
 font-family: "poppins";
 width: 24px;
height: 24px;
}
.backbtn{
 border: none;
 background-color: var(--background-color);
 outline: none;

 width: fit-content;
 height: fit-content;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0,0,0,0.9);
}


#videos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 50px;
}

.video-item {
  position: relative;
  cursor: pointer;
  width: 500px;
}

.video-item video,
.video-item img {
  width: 100%;
  border-radius: 8px;
}

/* Play Icon */
.video-item::after {
  content: "";
  position: absolute;
  font-size: 40px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Lightbox */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);

  display: flex;
  justify-content: center;
  z-index: 100;
  align-items: center;
}

.lightbox video {
  max-width: 90%;
  max-height: 90%;

}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}


@media (max-width: 900px) {
  #photos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  #photos {
    grid-template-columns: 1fr;
  }
}
  /* Responsive */
 @media (max-width: 1280px) or (max-height: 770px) {
    .nav-center,
    .contact-btn {
      display: none;
    }

    .burger {
      display: block;
            margin-right: 50px;
    }
    .hero-title{
    font-family: "playball";
    text-align: center;
    font-weight: 100;
    font-size: 64px;
    margin: 0 0 0 0;
    padding: 15vh 0 0 0;
}
.hero-subtitle{
    font-family: "poppins";
    text-align: center;
    font-size: 28px;
    margin: 0;
    font-weight: 200;
}
.hero-image{
    width: 700px;
    height: 63vh;
    object-fit: cover;
    margin: 30px auto;
    align-items: center;
    border-radius: 20px;
    display: block;
}

.gradienthero{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 150px;
background: linear-gradient(180deg, rgba(255, 251, 246, 0) 0%, rgba(255, 251, 246, 1) 45%, rgba(255, 251, 246, 1) 100%);}

.phototitle{
    font-family: "playball";
    font-size: 64px;
    font-weight: 100;
    text-align: center;
    margin-top: 100px;
    margin: 100px 0 0 0;
}
.photocont {
  width: 60%;
  height: 60vh;
  margin: 30px auto;
  position: relative;
}
.photop{
    font-family: "poppins";
    font-size: 28px;
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
    width: 60vw;
    margin: auto;
}

.ctitle{
    font-family: "playball";
    font-size: 64px;
    font-weight: 100;
    text-align: center;
    margin-top: 100px;
    margin: 100px 0 0 0;
}
.csubtitle{
    font-family: "poppins";
    font-size: 28px;
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
    width: 60vw;
    margin: auto;
}

.album {
width: 40vw ;

  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  margin: auto;
}
.albums {
margin: 50px auto;
}
#videos {
  display: flex;
  flex-direction: column;  gap: 10px;
  margin: 50px;
}
.video-item {
  position: relative;
  cursor: pointer;
  width: fit-content;
}
  }




  @media (max-width: 768px) {
    .nav-center,
    .contact-btn {
      display: none;
    }

      .logo {
    width: 48px;
    height: 48px;
    background: var(--text-color);
    color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: serif;
    font-size: 20px;
    margin-left: 25px;


  }
    .burger {
      display: block;
      margin-right: 25px;
    }
    .hero-title{
    font-family: "playball";
    text-align: center;
    font-weight: 100;
    font-size: 48px;
    margin: 0 0 0 0;
}
.hero-subtitle{
    font-family: "poppins";
    text-align: center;
    font-size: 20px;
    margin: 0;
    font-weight: 200;
}
.hero-image{
    width: 80%;
    height: 65vh;
    object-fit: cover;
    margin: 30px auto;
    align-items: center;
    border-radius: 20px;
    display: block;
}
.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 50px 20px;
  flex-wrap: wrap;
}
.divider {
  width: 1px;
  height: 60px;
    rotate: calc(90deg);
  background: #aaa;
}

.phototitle{
    font-family: "playball";
    font-size: 48px;
    font-weight: 100;
    text-align: center;
    margin-top: 100px;
    margin: 100px 0 0 0;
}
.photocont {
  width: 85%;
  height: 70vh;
  margin: 30px auto;
  position: relative;
}
.photop{
    font-family: "poppins";
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
    width: 85vw;
    margin: auto;
}

.photosec{
  width: 100%;
  height: 100vh;
    overflow: hidden;
  position: relative;

}
.ctitle{
    font-family: "playball";
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    margin-top: 100px;
    margin: 100px 0 0 0;
}
.csubtitle{
    font-family: "poppins";
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
    width: 85vw;
    margin: auto;
}
.video-placeholder{
  background-color: #FFFBF6;
  width: 85vw;
  height: 60vh;
  margin: 0 auto;
  border-radius: 20px;
}
.footerbox{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 50vw;
  margin: auto;
  height: fit-content;
  align-items: center;
  text-align: center;
}
.album {
width: 90vw ;

  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  margin: auto;
}
.albums {
margin: 50px auto;
}
  }
   @media (max-width: 400px) {
.photocont {
  width: 85%;
  height: 50vh;
  margin: 30px auto;
  position: relative;
}
.album {
width: 80vw ;

  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  margin: auto;
}
   }




    /* Responsive */
  /* @media (max-height: 700px) or (max-width:1000px) {
    .nav-center,
    .contact-btn {
      display: none;
    }

    .burger {
      display: block;
    }
    .hero-title{
    font-family: "playball";
    text-align: center;
    font-weight: 100;
    font-size: 48px;
    margin: 0 0 0 0;
}
.hero-subtitle{
    font-family: "poppins";
    text-align: center;
    font-size: 20px;
    margin: 0;
    font-weight: 200;
}
.hero-image{
    width: 80%;
    height: 50vh;
    object-fit: cover;
    margin: 30px auto;
    align-items: center;
    border-radius: 20px;
    display: block;
}
.gradienthero{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 100px;
background: linear-gradient(180deg, rgba(255, 251, 246, 0) 0%, rgba(255, 251, 246, 1) 45%, rgba(255, 251, 246, 1) 100%);}


  } */
